{% set contentType = 'Permission Group ' ~ group.name %}
{% set apiPath = 'api/v1/perm-group/perm/'~id %}
{% set formAction = 'Update' %}

{% extends "admin.form.html.twig" %}
{% import "field.html.twig" as field %}

{% set permLevels = {0:'Deny',1:'Read',6:'Write',11:'Admin'} %}
{% set permLevelRevisions = {0:'Deny',1:'Read',3:'Draft',6:'Write',8:'Approve',11:'Admin'} %}

{% block title %}{{ contentType }} Management{% endblock %}
{% block form %}
<table class="table table-striped" data-column-data='["name","actions"]' data-source="{{ link(apiPath) }}" data-data='{"parent_id":0}'>
  <thead>
    <tr>
      <th data-priority="2">Permission</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for row in perm %}
    {% set row = row|merge({"options":row.options|json_decode}) %}
    <tr>
      <td><strong>{{ row.name }}</strong><br>{{ row.description }}</td>
      <td>
        {% if row.options.revisions %}
        {% set rowLevels = permLevelRevisions %}
        {% else %}
        {% set rowLevels = permLevels %}
        {% endif %}
        <select name="perm[{{ row.id }}]">
          {% for level, text in rowLevels %}
          <option value="{{ level }}"{% if level == row.level or (row.level is null and level == 0) %} selected{% endif %}>{{ text }}</option>
          {% endfor %}
        </select>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}