{% set contentType = 'Permission Group' %}
{% set apiPath = 'api/v1/perm-group' %}
{% set formAction = 'Create' %}

{% extends "admin.form.html.twig" %}
{% import "field.html.twig" as field %}

{% block form %}
{{ field.input( constant('\\FAE\\fields\\field::TEXT_SHORT'), 'name', 'Name', {"max":"250","required":true} ) }}
{{ field.input( constant('\\FAE\\fields\\field::BOOL_SIMPLE'), 'default', 'Default' ) }}
{% endblock %}