{% set contentType = 'Permission Group' %}
{% set apiPath = 'api/v1/perm-group/' ~ data.0.id %}
{% set formAction = 'Update' %}

{% extends "admin.form.html.twig" %}
{% import "field.html.twig" as field %}

{% block form %}
{{ field.input( constant('\\FAE\\fields\\field::TEXT_SHORT'), 'name', 'Name', {"max":"250","value":data.0.name} ) }}
{{ field.input( constant('\\FAE\\fields\\field::BOOL_SIMPLE'), 'default', 'Default', {"value":data.0.default} ) }}
{% endblock %}