{% set contentType = 'Permission' %}
{% set apiPath = 'api/v1/perm-group' %}
{% extends "admin.html.twig" %}

{% block title %}{{ contentType }} Management{% endblock %}
{% block content %}
<div class="card card-body">
  <h3 class="card-title">{{ contentType }} Management</h3>
<!--  <table class="table dtable dt-responsive table-striped" data-sort='[0, "desc"]' data-column-data='["id","firstName+ +lastName","username","country","renderActions()"]' data-source="{{ link('api/user') }}">-->
  <div class="text-right mb-3">
    <a href="{{ link('adm/perm-group/create') }}" class="btn btn-primary">Create New {{ contentType }}</a>
  </div>
  <table class="table dtable dt-responsive table-striped" data-column-data='["name","actions"]' data-source="{{ link(apiPath) }}" data-data='{"parent_id":0}'>
    <thead>
      <tr>
        <th data-priority="2">Permission Group</th>
        <th class="noexport text-center" data-sortable="false" data-priority="1" data-renderer="function(data,type,row,meta){ return tableActions(data,type,row,meta,'{{ config.path }}/adm/perm-group', [{text:'Permissions',url:'{{ config.path }}/adm/perm-group/perm/'+row.id}]) }">Actions</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
{% endblock %}